/* Blue */
$core-blue-080: #00264c;

/* Grey */
$core-grey-020: #e4edf6;
$core-grey-050: #7599bd;
$core-grey-040: #a9bfd6;
$core-grey-060: #4b739b;
$core-grey-070: #3a5978;

/* Red */
$core-red-020: #ffe5e8;
$core-red-060: #e5004c;
